<div class="backImg">
  <img src="<%= asset_path "back.jpg" %>">
</div>
<div class="container">
  <div class="wrap col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="<%= asset_path "login.png" %>">
      </div>

      <div class="loginpage col-md-6 col-sm-6">
        <p><h1>Inst◯gram</h1></p>
        <p><h3>写真を投稿しよう！</h3></p>
        <p class="flash"><%= notice %><%= alert %></p>
        <div class="loginpage-btn">
          <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-default" %>
        </div>
        <div class="loginpage-btn">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %>
        </div>
      </div>

    </div>
  </div>
</div>
